*{
    padding: 0;
    border: 0;
    margin: 0;
}
.home{
    width: 100%;
    height: 105vh;
    background-image: url(images/BCO.bbd680be-fe36-4168-8498-9b1e745803c6.png);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 40px;
}
.nav{
    width: 100%;
    height: 15%;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 100%;
    width: 10%;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/—Pngtree—education\ book\ logo\ vector\ learning_22925935.png);
    background-position: center;
    background-size: cover;
}
.links{
    height: 100%;
    width: auto;
    background-color: rgba(241, 220, 187, 0.871);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.links a{
    text-decoration: none;
    font-family: 'Pacifico';
    color: goldenrod;
    font-size: 20px;
    font-weight: 550;
    display: inline-block;
    padding: 3px 15px;
    border: 3px solid rgb(3, 3, 86);
    border-radius: 10px;
    text-align: center;
}
.links a:hover {
    width: 100px;
    background-color: rgb(3, 3, 86);
    color: goldenrod;
    isplay: flex;
    justify-content: center;
    align-items: center;
    border:  rgb(3, 3, 86) 3px solid;
}
.main{
    width: 100%;
    height: 25%;
    background-color: #03030300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    background-color: rgba(241, 220, 187, 0.871);
    margin-top: 200px;
}
.main h1{
    font-family: 'Gelasio';
    color: rgb(3, 3, 69);
    font-size: 30px;
    font-weight: 600;
}
.main h3{
    font-family: 'Gelasio';
    color: rgb(3, 3, 86);
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
}
.line{
    width: 200px;
    height: 3px;
    background-color: rgba(3, 3, 86, 0.741);
    margin-top: 20px;
}
footer{
    width: 100%;
    height: 40%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    margin-top: 4px;
}
.copyright{
    letter-spacing: 3px;
}
@media (min-width: 770px) and (max-width: 1024px){
    .nav{
        height: 20%;
    }
    .logo{
        width: 25%;
    }
    .main{
        margin-top: 50%;
    }
    .links a{
        margin-top: 5%;
    }
}
@media (min-width: 481px) and (max-width: 769px){
    .nav{
        height: 25%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .links{
        display: flex;
        flex-direction: row;
        -ms-flex-align: start;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 5px;
    }
    .logo{
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 5%;
        padding: 130px;

    }
    .main h3{
        font-size: 16px;
    }
}
@media (max-width: 480px){
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        height: 47%;
        width: 100%;
    }
    .links{
        width: 100%;
        display: flex !important;
        flex-direction: column !important;
        text-align: center;
        gap: 5px;
        overflow-x: auto;
        white-space: nowrap;
        justify-content: space-around;
    }
    .links a{
        font-size: 0.8rem;
        padding: 5px 8px;
        flex-shrink: 0;
    }
    .logo{
        margin-top: 10px;
        height: 80%;
        width: 40%;
    }
    .main{
        position:absolute;
        bottom: 30px;
        margin-top: 100px;
        margin-bottom: 200px;
        width: 100%;
    }
    .main h1{
        font-size: 1.3rem;
    }
    .main h3{
        font-size: 0.8rem;
    }
    footer{
        width: 100%;
        height: 20%;
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
    }
}
@media (min-width: 320px) and (max-width: 390px){
    .home{
        height: 94vh;
    }
    .main h1{
        font-size: 1.2rem;
    }
    .main h3{
        font-size: 0.7rem;
    }
    .nav{
        height: 57%;
    }
    .links a{
        font-size: 1rem;
        padding: 5px 8px;
        flex-shrink: 0;
    }
    .links{
        gap: 0px;
    }
    .logo{
        width: 40%;
        height: 100%;
    }
    .main{
        margin-bottom: 30%;
    }
    footer{
        margin-bottom: 0rem;
        margin-top: 90%;
    }
}
@media (min-width: 389px) and (max-width: 411px){
    .main h1{
        font-size: 1.2rem;
    }
    .main h3{
        margin-top: 30%;
        font-size: 0.7rem;
    }
    .links a{
        font-size: 1rem;
        padding: 5px 8px;
        flex-shrink: 0;
    }
    .links{
        gap: 0px;
    }
    .logo{
        width: 50%;
    }
    .home{
        height: 90vh;
    }
}
@media (min-width: 412px) and (max-width: 415px) {
    .home{
        height: 120vh;
    }
    footer{
        margin-bottom: 0%;
        margin-top: 100%;
    }
    .main{
        margin-bottom: 40%;
    }
    .home{
        height: 90vh;
    }
    
}